
{% extends "base.html" %}



{% block content %}


 {% if user.is_authenticated %}
        <p>Welcome, {{ user.get_username }}. Here are all patient records.</p>


     <a class="btn btn-primary" href="new_appointment" role="button">Add appointment</a>

                <div class=" justify-content-center">
                    <table style="margin-left: 25%" class="table table-dark table-striped table-bordered table-hover">
                        <tr>
                            <th scope="col">Patient ID</th>
                            {% if   "Patient" not in user.groups.all.0.name  %}
                                <th scope="col">Name</th>
                            {% endif %}
                            {% if   "Patient"  in user.groups.all.0.name  %}
                                <th scope="col">Doctor</th>
                            {% endif %}
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                        </tr>
                            {% for object in object_list %}
                                {% if object %}
                        <tr onclick="document.location = '{% url "editAppointment" object.pk %}';" >
                            <th scope="row" >  {{object.pk}} </th>
                            {% if  "Patient" not in user.groups.all.0.name %}
                                <td>{{ object.patient.get_full_name }}</td>
                            {% endif %}
                            {% if   "Patient"  in user.groups.all.0.name  %}
                                <td>{{ object.doctor.get_full_name }}</td>
                            {% endif %}

                            <td>{{ object.appointment_date }}</td>
                            <td>{{ object.appointment_time }}</td>
                        </tr>
                                {% endif %}
                             {% endfor %}

                    </table>
                </div>
        {% else %}
        <h1>Please login.</h1>
    {% endif %}

{% endblock content %}