{% extends "blogapp/base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="card card-light shadow-sm p-4">
    <form method="POST">{% csrf_token %}
        <fieldset class="form-group">
            <legend class=" card-light mb-4">Reset</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class=" btn btn-secondary float-right" type="submit">Reset Password</button>
        </div>

    </form>



</div>

{% endblock content %}