{% extends "base.html" %}

{% block content %}



    <div class="card p-4 float">
        <div class="card-header mb-3"><h3>Payments - {{ user.username }}</h3></div>
        {% for payment in object_list %}
            {% if payment.invoice in user.invoice_set %}
                <p>hi</p>
            {% endif %}
            <div id="acordian">
                <div class="card">

                    <button id="" class="card-header btn btn-link collapsed" data-toggle="collapse"
                            data-target="#{{ payment }}"
                            aria-expanded="false" aria-controls="{{ payment.id }}">

                        <p class="float-left">{{ payment.invoice_number }} - {{ payment.date_billed }}</p>
                        <span class="badge badge-primary badge-pill float-right">${{ payment.amount_owed }}</span>

                    </button>

            {# These are copied over from reports. left them here in case they were helpful#}
{#                    <div id="{{ object.username }}" class="card-body collapse">#}
{#                        {% for report in object.report_set.all %}#}
{##}
{#                            <ul id="" class="list-group">#}
{#                                <a id="{% url 'report' report.id %}" href="{{ report.id }}"#}
{#                                   class="list-group-item list-group-item-action">{{ report }}</a>#}
{#                            </ul>#}
{##}
{#                        {% endfor %}#}
{#                    </div>#}


                </div>
            </div>

        {% endfor %}
    </div>

{% endblock content %}