

{% extends "base.html" %}

{% block content %}



    <div class="card p-4 float">
        <div class="card-header mb-3"><h3>Payments on {{ user.get_full_name }}'s Account</h3></div>



                <div class="card">


                    <div class="list-group">
                        <div  class="list-group-item list-group-item-action active disabled">
                            <p class="float-left">Invoice Number</p>
                            <p class="float-right">Payment Amount</p>

                        </div>
                    {% for payment in object_list %}
                        <a href="{% url 'invoice-detail-view' pk=payment.invoice.pk %}" class="list-group-item list-group-item-action">
                        <p class="float-left">{{ payment.invoice.pk}}</p>

                        <p class="float-right">${{ payment.payment_amount }}</p>
                        </a>
                    {% endfor %}

                    </div>


                </div>



    </div>

{% endblock content %}