{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="card card-light shadow-sm p-4">
    <form method="POST">{% csrf_token %}
        <fieldset class="form-group">
            <legend class=" card-light mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class=" btn btn-secondary float-right" type="submit">Log In</button>
            <small class="text-muted m-2">

            </small>
        </div>

    </form>
    <div class="border-top pt-5">
        <small class="text-muted">Do You Need An Account?
            <a class="ml-2" href="{% url 'register' %}">Register</a>
        </small>
    </div>
</div>

{% endblock content %}