{% extends "base.html" %}

{% block content %}

    <div class="container border border-dark">

        <div class="row">
            <div class="col-6 border border-dark shadow-lg">
                <h2 style="text-align: center; padding: 10px">Reports</h2>
                <ul>
                    <li><a href="#">View Daily Reports</a></li>
                    <li><a href="#">View Monthly Reports</a></li>
                </ul>
            </div>

            <div class="col-6 border border-dark shadow-lg">
                <h2 style="text-align: center; padding: 10px">Patients</h2>
                <ul>
                    <li><a href="{% url 'Record-User-List' %}">Views Patients</a></li>
                </ul>
            </div>
        </div>

        <div class="row">

            <div class="col border border-dark shadow-lg">
                <h2 style="text-align: center; padding: 10px">Salaries</h2>
                <ul>
                    <li><a href="{% url 'nurse-salary' %}">Nurses</a></li>
                    <li><a href="{% url 'doctor-salary' %}">Doctors</a></li>
                </ul>
            </div>
        </div>

    </div>

{% endblock content %}