{% extends "base.html" %}

{% block content %}

    <div class=" justify-content-center">
        <table style="margin-left: 25%" class="table table-dark table-striped table-bordered table-hover text-center">
            <tr>
                <th colspan="3">
                    <h3>Doctor Salaries</h3>
                </th>
            </tr>

            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Salary</th>
            </tr>
            {% for object in object_list %}

                <tr>
                    <td>{{ object.doctor.first_name }}</td>
                    <td>{{ object.doctor.last_name }}</td>
                    <td><a href="{% url 'edit-doctor-salary' pk=object.id %}">${{ object.salary }}</a></td>
                </tr>

            {% endfor %}
        </table>
    </div>


{% endblock %}