{% extends "base.html" %}

{% block content %}

	<div class="container border border-dark shadow-lg">

	  <div class="row">
	    <div class="col-6 border border-dark">
	      <h2 style="text-align: center; padding: 10px">Profile</h2>
	      <ul>
	      	<li><a href="#">View Profile</a></li>
	      </ul>
	    </div>

	    <div class="col-6 border border-dark">
	      <h2 style="text-align: center; padding: 10px">Patients</h2>
	      <ul>
	      	<li><a href="#">Views Patients</a></li>
	      </ul>
	    </div>
	  </div>

	</div>

{% endblock content %}