nurse_salary.html
{% extends "base.html" %}

{% block content %}

                <div class=" justify-content-center">
                    <table style="margin-left: 25%" class="table table-dark table-striped table-bordered table-hover text-center">
                        <tr>
                            <th colspan="3">
                                <h3>Nurse Salaries</h3>
                            </th>
                        </tr>
                        {% if nurse %}
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Salary</th>
                            </tr>
                            {% for nurse in nurses %}
                                <tr>
                                    <td>{{ nurse.fname }}</td>
                                    <td>{{ nurse.lname }}</td>
                                    <td>{{ nurse.salary }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <th colspan="3">
                                    <h6>No Nurses in the System.</h6>
                                </th>
                            </tr>
                        {% endif %}
                        
                    </table>
                </div>


{% endblock %}