{% extends "base.html" %}

{% block content %}

	<div class="container border border-dark">

	  <div class="row">
	    <div class="col-6 border border-dark">
	      <h2 style="text-align: center; padding: 10px">Profile</h2>
	      <ul>
	      	<li><a href="#">View Profile</a></li>
	      	<li><a href="#">Make Payment</a></li>
	      </ul>
	    </div>

	    <div class="col-6 border border-dark">
	      <h2 style="text-align: center; padding: 10px">Records</h2>
	      <ul>
	      	<li><a href="#">Views Records</a></li>
	      </ul>
	    </div>
	  </div>

	  <div class="row">
	  	<div class="col-6 border border-dark">
	      <h2 style="text-align: center; padding: 10px">Appointments</h2>
	      <ul>
	      	<li><a href="#">Schedule an Appointment</a></li>
	      	<li><a href="#">View/Reschedule Appointment</a></li>
	      </ul>
	    </div>
	    <div class="col-6 border border-dark">
	    	<h2 style="text-align: center; padding: 10px">Contact Us</h2>
	    	<ul>
	    		<li><a href="#">Email</li>
	    		<li><a href="#">Phone</a></li>
	    	</ul>
	    </div>
	  </div>

	</div>

{% endblock content %}