{% extends "base.html" %}

{% block content %}

    {% if 'ceo' in groups %}

        <div class="card m-5">
            <div class="card-header bg-white">
                <h2>CEO Portal</h2>

            </div>

            <div class="card-body">

                <div class="container border border-dark">

                    <div class="row">
                        <div class="col-6 border border-dark shadow-lg">
                            <h2 style="text-align: center; padding: 10px">Reports</h2>
                            <ul>
                                <li><a href="{% url 'report-list' %}">View Daily Reports</a></li>
                                <li><a href="{% url 'report-list' %}">View Monthly Reports</a></li>
                            </ul>
                        </div>

                        <div class="col-6 border border-dark shadow-lg">
                            <h2 style="text-align: center; padding: 10px">Patients</h2>
                            <ul>
                                <li><a href="{% url 'Record-User-List' %}">Views Patients</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col border border-dark shadow-lg">
                            <h2 style="text-align: center; padding: 10px">Salaries</h2>
                            <ul>
                                <li><a href="{% url 'nurse-salary' %}">Nurses</a></li>
                                <li><a href="{% url 'doctor-salary' %}">Doctors</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    {% endif %}
    {% if 'doctor' in groups %}
        <div class="card m-5">
            <div class="card-header bg-white">
                <h2>Doctor Portal</h2>

            </div>

            <div class="card-body">

                <div class="container">

                    <div class="row">


                        <div class="col-6 border border-dark shadow-lg">
                            <h2 style="text-align: center; padding: 10px">Patients</h2>
                            <ul>
                                <li><a href="{% url 'Record-User-List' %}">Views Patients</a></li>
                            </ul>
                        </div>

                        <div class="col-6 border border-dark shadow-lg">
                            <h2 style="text-align: center; padding: 10px">Appointments</h2>
                            <ul>
                                <li><a href="{% url 'appointments' %}">View Appointments</a></li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    {% endif %}
    {% if 'nurse' in groups %}

        <div class="card m-5">
            <div class="card-header bg-white">
                <h2>Nurse Portal</h2>

            </div>

            <div class="card-body">
                <div class="container border border-dark shadow-lg">


                    <div class="col-6">
                        <h2 style="text-align: center; padding: 10px">Patients</h2>
                        <ul>
                            <li><a href="{% url 'Record-User-List' %}">Views Patients</a></li>
                        </ul>
                    </div>


                </div>


            </div>

        </div>

    {% endif %}
    {% if 'staff' in groups %}


        <div class="card m-5">
            <div class="card-header bg-white">
                <h2>Staff Portal</h2>

            </div>

            <div class="card-body">
                <div class="container">

                    <div class="row">
                        <div class="col-6 border border-dark shadow-lg">
                            <h2 style="text-align: center; padding: 10px">Payments</h2>
                            <ul>
                                <li><a href="{% url 'invoice-list-all' %}">Process Cash Payment</a></li>
                            </ul>
                        </div>

                        <div class="col-6 border border-dark shadow-lg">
                            <h2 style="text-align: center; padding: 10px">Patients</h2>
                            <ul>
                                <li><a href="{% url 'Record-User-List' %}">Views Patients</a></li>
                                <li><a href="{% url 'new_patient' %}">New Patient</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col border border-dark shadow-lg">
                            <h2 style="text-align: center; padding: 10px">Appointments</h2>
                            <ul>
                                <li><a href="{% url 'appointments' %}">Available Times</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    {% endif %}
    {% if 'patient' in groups %}

        <div class="card m-5">
            <div class="card-header bg-white">
                <h2>Patient Portal</h2>

            </div>

            <div class="card-body">
                <div class="container border border-dark shadow-lg">

                    <div class="row">
                        <div class="col-6 border border-dark">
                            <h2 style="text-align: center; padding: 10px">Profile</h2>
                            <ul>
                                <li><a href="{% url 'profile' %}">View Profile</a></li>
                                <li><a href="{% url 'invoice-list-user' %}">View Invoices</a></li>
                                <li><a href="{% url 'payment-list' %}">View Payments</a></li>
                            </ul>
                        </div>

                        <div class="col-6 border border-dark">
                            <h2 style="text-align: center; padding: 10px">Records</h2>
                            <ul>
                                <li><a href="{% url 'view-record' pk=user.id %}">Views Records</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col border border-dark">
                            <h2 style="text-align: center; padding: 10px">Appointments</h2>
                            <ul>
                                <li><a href="{% url 'new_appointment' %}">Schedule an Appointment</a></li>
                                <li><a href="{% url 'appointments' %}">View/Reschedule Appointment</a></li>
                            </ul>
                        </div>

                    </div>

                </div>


            </div>

        </div>



    {% endif %}

{% endblock content %}