{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-6 border border-dark shadow-lg">
                <h2 style="text-align: center; padding: 10px">Payments</h2>
                <ul>
                    <li><a href="{% url 'cash-payment' %}">Process Cash Payment</a></li>
                </ul>
            </div>

            <div class="col-6 border border-dark shadow-lg">
                <h2 style="text-align: center; padding: 10px">Patients</h2>
                <ul>
                    <li><a href="{% url 'Record-User-List' %}">Views Patients</a></li>
                    <li><a href="{% url 'new_patient' %}">New Patient</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col border border-dark shadow-lg">
                <h2 style="text-align: center; padding: 10px">Appointments</h2>
                <ul>
                    <li><a href="{% url 'appointments' %}">Available Times</a></li>
                </ul>
            </div>

        </div>

    </div>

{% endblock content %}