{% extends "base.html" %}
{% block content %}



    {% if user.is_authenticated %}



                <div>
                <p>Welcome, {{ user.get_username }}. Here are all patient records.</p>
                    <table style="margin-left: 25%" class="table table-dark table-striped table-bordered table-hover">
                        <tr>
                            <th scope="col">Patient ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Phone number</th>
                            <th scope="col">Email</th>
                            <th scope="col">SSN</th>
                            <th scope="col">Insurance</th>
                        </tr>
                            {% for object in object_list %}
                                {% if object %}
                        <tr onclick="document.location = '{% url "Record" object.pk %}';" >
                            <th scope="row" >  {{object.pk}} </th>
                            <td>{{ object.patient.get_full_name }}</td>
                            <td>{{ object.patientAddress }}</td>
                            <td>{{ object.patientPhone }}</td>
                            <td>{{ object.patient.email }}</td>
                            <td>{{ object.patientSSN }}</td>
                            <td>{{ object.patientInsurance }}</td>
                        </tr>
                                {% endif %}
                             {% endfor %}

                    </table>
                </div>
        {% else %}
        <h1>Please login.</h1>
    {% endif %}

{% endblock content %}