{% extends "base.html" %}
{% block content %}
    {# This Needs Serious Work#}


    {% if user.is_authenticated %}
        <p>Welcome, {{ user.get_username }}. Here are all patient records.</p>


                <div class=" justify-content-center">
                    <table style="margin-left: 25%" class="table table-dark table-striped table-bordered table-hover">
                        <tr>
                            <th scope="col">Patient ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Phone number</th>
                            <th scope="col">Email</th>
                            <th scope="col">SSN</th>
                            <th scope="col">Insurance</th>
                        </tr>
                            {% for object in object_list %}
                                {% if object %}
                        <tr onclick="document.location = '{% url "Record" object.pk %}';" >
                            <th scope="row" >  {{object.pk}} </th>
                            <td>{{ object.get_full_name }}</td>
                            <td>{{ object.get_address }}</td>
                            <td>{{ object.get_phone }}</td>
                            <td>{{ object.email }}</td>
                            <td>{{ object.ssn }}</td>
                            <td>{{ object.insurance }}</td>
                        </tr>
                                {% endif %}
                             {% endfor %}

                    </table>
                </div>
        {% else %}
        <h1>Please login.</h1>
    {% endif %}

{% endblock content %}